# git submodule update --init site/plugins/orthotypo
# git submodule update --init --recursive
[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/orthotypo"]
	path = site/plugins/orthotypo
	url = https://codeberg.org/julienbidoret/orthotypo.git
