<title>{% if title %}{{ title }} | {% endif %}{{ siteData.title }}</title>
<meta name="description" content="{% if description %}{{ description }}{% elif siteData.description %}{{ siteData.description }}{% endif %}">
<link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ siteData.title }}" />
<link rel="manifest" href="/assets/images/site.webmanifest" />
<meta property="og:url" content="{{ siteData.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ siteData.title }}">
<meta property="og:description" content="{% if description %}{{ description }}{% elif siteData.description %}{{ siteData.description }}{% endif %}">
<meta property="og:site_name" content="{{ siteData.title }}">
<meta property="og:locale" content="fr_FR">
<link rel="alternate" type="application/rss+xml" title="{{ siteData.title }} RSS" href="{{ siteData.url }}/feed.xml">
