---
layout: layouts/base.njk
permalink: /publications/
title: Publications
template: publications
---

<main>
  {% if publications.length > 0 %}
  <ul class="grid">
    {% for pub in publications %}
    <li class="column" style="--columns: 3">
      {% include "excerpt.njk" %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</main>
