h1 {
  font-family: var(--heading-font-family);
  font-size: var(--h1-font-size);
  line-height: 1.2;
  letter-spacing: var(--h1-letter-spacing);
  font-weight: var(--heading-weight);
  margin-bottom: var(--space-16);
  font-style: normal;
  text-align: left;
  width: 55%;
  hyphens: none;
}

h1.projet-titre {
  margin-bottom: var(--space-64);
}

h2 {
  font-family: var(--heading-font-family);
  font-size: var(--h2-font-size);
  line-height: 1.2;
  letter-spacing: var(--h2-letter-spacing);
  font-weight: var(--heading-weight);
  margin-bottom: var(--space-16);
  margin-top: var(--space-48);
  font-style: normal;
  width: 55%;
  hyphens: none;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: var(--h3-font-size);
  line-height: 1.3;
  letter-spacing: var(--h3-letter-spacing);
  font-weight: var(--heading-weight);
  /* margin-bottom: var(--space-16); */
  margin-top: var(--space-32);
  font-style: normal;
  text-align: left;
  width: 55%;
  hyphens: none;
}

.projet-meta {
  width: 100%;
  font-family: var(--sans);
  font-size: var(--text-md);
  margin-bottom: var(--space-16);
  width: 55%;
}

.tab-panels .puce {
  color: var(--color-muted);
}

@media screen and (max-width: 60rem) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
  }

  .projet-meta {
    /* font-size: var(--text-md); */
    width: 100%;
  }

  main:not(.home) :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--space-48);
    clear: both;
  }

  main > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0 !important;
  }
}
